<div class="message-list">
  @for (message of messages; track message.id) {
    @if (message.sceneImageId) {
      <app-scene-image-card
        [imageSrc]="sceneImageUrl(message.sceneImageId!)"
        [caption]="message.content"
        [sceneImageId]="message.sceneImageId!"
        [showDebug]="showSceneImageDebug"
      />
    } @else {
      <app-message-bubble
        [message]="message"
        [characterName]="characterName"
        [characterImageUrl]="characterImageUrl"
        [playerName]="playerName"
        [playerImageUrl]="playerImageUrl"
        [animateTyping]="message.id === typingMessageId"
        [showRegenerate]="message.id === lastAssistantMessageId()"
        [regenerating]="regenerating"
        (typingUpdate)="typingUpdate.emit()"
        (regenerate)="regenerate.emit()"
      />
    }
  }
</div>
